* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* general rules */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

div .wh95 {
  width: 95%;
  margin: 0 auto;
}

.mgleft {
  margin-left: 0.8em;
}

a:hover,
a:active,
a:focus {
  color: rgba(255, 255, 255, 1);
}
/* /general rules */

/* testing */
/* /testing */

/* left column */
main {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}

main div.clearfix {
  height: 100%;
}

div.left-navbar ul {
  padding-left: 0;
  list-style: none;
}

div.left-navbar ul > li {
  list-style: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: gray;
}

main div.left-navbar {
  font-weight: bold;
  color: white;
  background-color: black;
  height: 100%;
  min-height: 480px;
  width: 250px;
  
}

.start-ul-navbar {
  width: 100%;
  height: calc(100% - 80px);
  overflow: hidden;
}

.start-ul-navbar .logo {
  padding: 1em 1em;
}

.start-ul-navbar .logo img {
  width: 70%;
}

.start-ul-navbar .left-navbar-first-list,
.end-ul-navbar  {
  font-size: 0.8em;
  margin-bottom: 2em;
}

.start-ul-navbar .left-navbar-first-list li,
.end-ul-navbar ul li {
  padding-left: 1em;
  border-left: 3px solid black;
}

.start-ul-navbar .left-navbar-first-list li.highlight {
  padding-left: 1em;
  border-left: 3px solid rgb(168, 247, 46);
}

.start-ul-navbar .left-navbar-first-list img {
  width: 15%;
  vertical-align: middle;
  opacity: 0.7;
}

.start-ul-navbar .left-navbar-first-list a:hover img {
  opacity: 1;
}

.left-navbar .left-navbar-scroll-start {
  height: 70%;
  padding-left: 1em;
  margin-bottom: 1em;
}

.left-navbar .left-navbar-scroll-start .scroll-start-title {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 1em;
}

.left-navbar .fake-btn-add-playlist a {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.left-navbar .fake-btn-add-playlist .add-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  font-size: 1em;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
}

.left-navbar .fake-playlist {
  padding-bottom: 2.5em;
  height: 70%;
  overflow: auto;
}

/* end navbar */
.end-ul-navbar {
  width: 100%;
  height: 80px;
  color: white;
}

.end-ul-navbar li img{
  width: 6%;
  vertical-align: middle;
  opacity: 0.7;
}

.end-ul-navbar div.fake-btn-add-playlist span.add-btn, .circle-hide-btn {
  overflow: hidden;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.end-ul-navbar img.user-icon {
  width: 83%;
}

.end-ul-navbar div.fake-btn-add-playlist {
  width: 90%;
  margin: 1em auto;
  padding: 1em 0;
  border-top: 1px solid gray;
}

/* right column */
main div.right-main-content {
  background-color: rgb(20, 25, 34);
  width: calc(100% - 250px);
  height: 100%;
  overflow: auto;
}

div .header-main-content {
  height: 100px;
  width: calc(100% - 250px);
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

div.right-main-content div.content-main {
  margin-top: 7em;
}

div.content-img-first-list,
div.content-img-second-list {
  padding: 3em 1em 1em 1em;
}

div.content-start-nav ul.nav-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}

div.content-start-nav ul.nav-main > li > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
}

/* img section right column */
.main-title {
  color: white;
  padding-bottom: 1.5em;
}
.subtitle-gray {
  font-size: 0.5em;
  color: gray;
  padding-top: 1.5em;
}
#first-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
}

#second-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.img-box-infos {
  width: 16%;
}

.playlist-img {
  width: 100%;
}

div.img-name {
  text-align: center;
  font-size: 70%;
  padding-bottom: 3em;
}

.img-box-infos  h3 {
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
}

.img-box-infos p {
  font-size: 79%;
  color: gray;
  font-weight: bold;
}
/* testing media query */

@media  screen and (max-width: 1100px) {
  .img-box-infos {
    width: 16%;
  }
}

@media screen and (max-width: 700px) and (min-width: 601px) {

  div.content-start-nav ul.nav-main {
    width: 80%;
    margin: 0 auto;
  }

  .img-box-infos {
    width: 48%;
  }

  li.mgtop-2 {
    margin-top: 2em;
  }
}

@media screen and (max-width: 600px) {
  main div.left-navbar {
    width: 50px;
  }

  main div.right-main-content {
    width: calc(100% - 50px);
  }

  li.center-li-main-head-left {
    margin-top: 2em;
    margin-left: 7em;
  }

  .center-li-main-head-right {
    margin-top: 2em;
    margin-right: 7em;
  }

  div .header-main-content {
    width: calc(100% - 50px);
  }

  .img-box-infos {
    width: 48%;
  }
}
