* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
}



footer {
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* general rules */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

div .wh95 {
  width: 95%;
  margin: 0 auto;
}
/* /general rules */

/* testing */
/* /testing */

/* left column */
main {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
}

main div.clearfix {
  height: 100%;
}

main div.left-navbar {
  background-color: black;
  height: 100%;
  min-height: 480px;
  width: 250px;
  
}

.start-ul-navbar {
  width: 100%;
  height: calc(100% - 80px);
  color: white;
}

.end-ul-navbar {
  width: 100%;
  height: 80px;
  color: white;
}

div.left-navbar ul {
  padding-left: 1em;
}

div.left-navbar ul > li {
  list-style: none;
}

div.left-navbar ul > li > a {
  text-decoration: none;
  color: gray;
}


/* right column */
main div.right-main-content {
  background-color: rgb(20, 25, 34);
  width: calc(100% - 250px);
  height: 100%;
  overflow: auto;
}

div .header-main-content {
  height: 100px;
  width: calc(100% - 250px);
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

div.right-main-content div.content-main {
  margin-top: 7em;
}

div.content-start-nav ul.nav-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}

div.content-start-nav ul.nav-main > li > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  color: gray;
}

/* img section right column */
.main-title {
  color: white;
}

#first-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
}

.img-box-infos {
  width: 330px
}

.playlist-img {
  width: 100%;
}



/* testing media query */

@media screen and (max-width: 700px) and (min-width: 601px) {

  div.content-start-nav ul.nav-main {
    width: 80%;
    margin: 0 auto;
  }

  .img-box-infos {
    width: 207px;
  }

  li.mgtop-2 {
    margin-top: 2em;
  }
}

@media screen and (max-width: 600px) {
  main div.left-navbar {
    width: 50px;
  }

  main div.right-main-content {
    width: calc(100% - 50px);
  }

  li.center-li-main-head-left {
    margin-top: 2em;
    margin-left: 7em;
  }

  .center-li-main-head-right {
    margin-top: 2em;
    margin-right: 7em;
  }

  div .header-main-content {
    width: calc(100% - 50px);
  }

  div.content-main div.content-img-first-list {
    padding: 0 1em;
  }

  .img-box-infos {
    width: 230px;
  }
}
